*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  background-color: aliceblue;
  height: 100vh;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game_title {
  font-size: 3rem;
  color: blueviolet;
  font-weight: 700;
  font-family: poppins;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  width: 510px;
  margin: 0 auto;
}
#winner_container {
  padding: 30px;
  border-radius: 1rem;
  margin: 0 auto;
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#winner_title {
  font-size: 3rem;
  color: yellow;
  margin-bottom: 30px;
}

.game_container {
  width: 510px;
  height: 510px;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
  margin-top: 30px;
  background-color: blueviolet;
  border-radius: 1rem;
}

.game {
  height: 470px;
  width: 470px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.box {
  background-color: #f0f0f0;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  color: #000000cc;
  font-size: 6rem;
  font-weight: 600;
  transition: 0.4s;
}

.box:hover {
  background-color: rgb(183, 214, 255);
}

#reset,
.quit,
#new_game {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 1.5rem;
  background-color: blueviolet;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s;
}

#new_game:hover {
  background-color: green;
}
#reset:hover {
  background-color: green;
}

.quit:hover {
  background-color: red;
}

@media screen and (max-width: 576px) {
  #game_title {
    font-size: 2rem;
    width: 90vw;
    max-width: 330px;
  }

  #winner_container {
    padding: 20px;
    width: 290px;
    box-sizing: border-box;
  }

  #winner_title {
    font-size: 1.5rem;
    margin-bottom: 0px;
  }

  .game_container {
    width: 330px;
    height: 330px;
    padding: 10px;
  }

  .game {
    height: 310px;
    width: 310px;
    gap: 5px;
  }

  .box {
    background-color: #f0f0f0;
    width: 100px;
    height: 100px;
    border-radius: 0.5rem;
    font-size: 4rem;
  }

  #reset,
  .quit,
  #new_game {
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 1rem;
  }
}
